/**
 * General styles
 */

html {
  font-family: arial;
}

.title {
  color: #05445e;
  font-size: 1.2rem;
}

.header {
  text-align: center;
}

.container {
  box-sizing: border-box;
  padding: 1rem;
}

@media all and (min-width: 45rem) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 45rem;
  }
}

/**
 * Components
 */

/* Search */
.search__box {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}

/* Member List */
.memberList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.memberList__empty {
  text-align: center;
}
.memberList__item {
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}
.memberList__item:nth-child(2n + 1) {
  background-color: #f3f3f3;
}
.memberList__item:hover {
  background-color: #c8f4f9;
}
.memberList__item:first-child {
  margin-top: 1rem;
}
.memberList__item:last-child {
  margin-bottom: 0;
}
